{% extends "base.html" %}

{% block content %}

<h2>{{company.name}} Open Issues</h2>

<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Tier</th>
    </tr>
    {% for ticket in tickets %}
    <tr>
        <td><a href="{% url "ticket" ticket.pk %}">{{ticket.title}}</a></td>
        <td><a href="{% url "tier" ticket.tier_id %}">{{ticket.tier}}</a></td>
    </tr>
    {% endfor %}
</table>

<ul class="pager">
    {% if tickets.has_previous %}
        <li><a href="?page={{ tickets.previous_page_number }}"><i class="icon-arrow-left "></i> Previous</a></li>
    {% endif %}

    <li class="text-muted" style="margin:30px;">
        Page {{ tickets.number }} of {{ tickets.paginator.num_pages }}
    </li>

    {% if tickets.has_next %}
        <li><a href="?page={{ tickets.next_page_number }}">Next <i class="icon-arrow-right"></i></a></li>
    {% endif %}
</ul>

{% endblock %}
