{% extends "base.html" %}

{% block title %}
    New Ticket
{% endblock title %}

{% block head %}
    <script src="//codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "tickets/handprints.js" %}"></script>
    {{ ticket_form.media.js }}
    {{ ticket_form.media.css }}
{% endblock head %}

{% block content %}

{% load crispy_forms_tags %}

{% crispy form %}

{% endblock %}

{% block js %}{% endblock %}
