{% extends "tickets/base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="jumbotron">
    <div class="container">
        <h1>{{ticket.title}}</h1>
        <h3><a href="{% url "company" ticket.company_id %}">{{ticket.company}}</a></h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <h3>Ticket ID</h3>
        <h3>Status</h3>
        <form action="{% url "ticket" ticket.pk %}" method="post">{% csrf_token %}
            {{ ticket_form|crispy }}
            <input type="submit" class="btn btn-warning" value="Save" />
        </form>
    </div>
    <div class="col-sm-2">
        <h3>{{ticket.pk}}</h3>
        <h3>{{ticket.state}}</h3>
    </div>
    <div class="col-sm-8">
        <p class="lead">{{ticket.description}}</p>
    </div>
</div>

<hr/>

<h3>Comments</h3>

{% for comment in ticket.ticketcomment_set.all %}
    <div class="panel panel-info">
        <div class="panel-heading">
            {{comment.user}}
        </div>
        <div class="panel-body">
            {{comment}}
        </div>
    </div>
{% endfor%}

<form action="{% url "comment" ticket.pk %}" method="post">{% csrf_token %}
    {{ comment_form|crispy }}
    <input type="submit" class="btn btn-primary" value="Post" />
</form>

{% endblock %}
