{% extends "base.html" %}

{% block content %}

<h2>{{ description }}</h2>

    <table class="table table-striped">
        <tr>
            <th class="text-right">ID</th>
            <th>Title</th>
            <th>Company</th>
            <th>Tier</th>
            <th class="text-right">Assignees</th>
        </tr>
        {% for ticket in tickets %}
        <tr {% if ticket.is_blocker %} class="danger" {% endif %}>
            <td class="text-right"><a href="{% url "ticket" result.object.pk %}">{{result.object.pk}}</a></td>
            <td><a href="{% url "ticket" ticket.pk %}">{{ticket.title}}</a></td>
            <td><a href="{% url "company" ticket.company_id %}">{{ticket.company}}</a></td>
            <td>{{ticket.tier}}</td>
            <td class="text-right">{{ ticket.assignees.all|join:", " }}<td>
        </tr>
        {% endfor %}
    </table>

    <ul class="pager">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}"><i class="icon-arrow-left "></i> Previous</a></li>
        {% endif %}

        <li class="text-muted" style="margin:30px;">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </li>

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">Next <i class="icon-arrow-right"></i></a></li>
        {% endif %}
    </ul>


{% endblock %}
