{% extends "base.html" %}

{% block head %}

    {% load staticfiles %}
    <script type="text/javascript" src="{% static "tickets/handprints.js" %}"></script>
    <link href="{% static "tickets/handprints.css" %}" rel="stylesheet">
    {{ ticket_form.media.js }}
    {{ ticket_form.media.css }}

{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="jumbotron">
    <div class="container">
        <h1>{{ticket.title}}</h1>
        <h3><a href="{% url "company" ticket.company_id %}">{{ticket.company}}</a></h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <table class="table">
            <tr>
                <td>Ticket Number</td>
                <td>{{ticket.pk}}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td><a href="{% url "status" ticket.status.pk %}">{{ticket.status}}</a></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <p class="lead">{{ticket.description}}</p>
    </div>
    <div class="col-sm-3">
            {% crispy ticket_form %}
    </div>
</div>

<hr/>

{% for event in events %}

  {% if event.comment %}

    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-6">
                    {{event.user.get_full_name}}
                </div>
                <div class="col-sm-6 text-right text-muted">
                    {{event.date_time}}
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-0 col-sm-1">
                    <i class="icon-comment icon-4x hidden-xs"></i>
                </div>
                <div class="col-sm-8">
                    {{event}}
                </div>
                {% if event.attachment %}
                <div class="col-xs-0 col-sm-1">
                    <i class="icon-file icon-4x hidden-xs pull-right"></i>
                </div>
                <div class="col-sm-2">
                    <a href="{{ event.attachment.url }}">{{event.attachment.name}}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

  {% elif event.new_tier %}

    <div class="panel panel-warning">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-6">
                    {{event.user.get_full_name}}
                </div>
                <div class="col-sm-6 text-right text-muted">
                    {{event.date_time}}
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-1">
                    <i class="icon-chevron-sign-right icon-4x hidden-xs"></i>
                </div>
                <div class="col-sm-11">
                    <p>Tier changed to {{event.new_tier}}</p>
                </div>
            </div>
        </div>
    </div>

  {% elif event.new_status %}

    <div class="panel panel-danger">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-6">
                    {{event.user.get_full_name}}
                </div>
                <div class="col-sm-6 text-right text-muted">
                    {{event.date_time}}
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-1">
                    <i class="icon-chevron-sign-right icon-4x hidden-xs"></i>
                </div>
                <div class="col-sm-11">
                    <p>Status changed to {{event.new_status}}</p>
                </div>
            </div>
        </div>
    </div>



  {% endif %}

{% endfor%}

<div class="row">
    <div class="col-md-12">
        <form action="{% url "ticket" ticket.pk %}"
            method="post"
            enctype="multipart/form-data">
            {% csrf_token %}
            {{ comment_form|crispy }}
            <input type="submit" class="btn btn-primary" value="Post" name="comment_post" />
        </form>
  </div>
</div>

{% endblock %}
