{% extends "tickets/base.html" %}

{% block content %}

<h1>Title : {{ticket.title}}</h1>
<h3>ID : {{ticket.pk}}</h3>
<h3><a href="{% url "company" ticket.company_id %}">{{ticket.company}}</a></h3>
<h3>Status : {{ticket.state}}</h3>
<form action="{% url "ticket" ticket.pk %}" method="post">{% csrf_token %}
    {{ ticket_form.as_p }}
    <input type="submit" value="Save" />
</form>

<hr/>

{% for comment in ticket.ticketcomment_set.all %}

    <p>{{comment}}</p>

{% endfor%}

<form action="{% url "comment" ticket.pk %}" method="post">{% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="Post" />
</form>


{% endblock %}
