body {
    padding-top: 70px;
    padding-bottom: 45px;
    padding-left: 10px;
    padding-right: 10px;
}

#s2id_id_assignees {
    padding: 0px !important;
}

#s2id_id_product_versions {
    padding: 0px !important;
}

.md-pad {
    padding: 30px;
}

.md-pad-sides {
    padding-left:10px;
    padding-right:10px;
}

.pre-formatted-text {
    white-space: pre-wrap
}

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}
