body {
    padding: 0px 0px 45px 0px;
}

#s2id_id_assignees {
    padding: 0px !important;
}

#s2id_id_product_versions {
    padding: 0px !important;
}

.md-pad {
    padding: 30px;
}

.pre-formatted-text {
    white-space: pre-wrap
}
