{% extends "base.html" %}

{% block title %}
    {{ profile }}
{% endblock title %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1>
            <i class="icon-user"></i>
            {{profile.user.get_full_name}}
        </h1>
    </div>
</div>

{% if user.pk == profile.user.pk %}
    <h4><a href="{% url "password_reset" %}">Change Password</a></h4>
    <h4><a href="{% url "profile_settings" profile.pk %}">Settings</a></h4>
{% endif %}

<div class="row">
    <div class="col-sm-8">
        <h1>Assigned Issues</h1>
        <ul>
            {% for ticket in profile.open_assignments.all %}
                <li><a href="{% url "ticket" ticket.pk %}">{{ticket}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
