{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1>
            <i class="icon-user"></i>
            {{profile.user.get_full_name}}
        </h1>
    </div>
</div>

<a href="{% url "password_reset" %}">Change Password</a>

<div class="row">
    <div class="col-sm-8">
        <h1>Assigned Issues</h1>
        <ul>
            {% for ticket in profile.open_assignments.all %}
                <li><a href="{% url "ticket" ticket.pk %}">{{ticket}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
