{% extends "base.html" %}

{% block title %}
    Stats
{% endblock title %}

{% block head %}
    <script src="//codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="static/chartkick.js"></script>
    <script src="{{ STATIC_URL }}chartkick.js"></script>
{% endblock %}

{% block content %}

<h1>Overall Stats</h1>

{% load chartkick %}

<div class="row">
    <div class="md-pad col-md-6">
        {% bar_chart company_vs_ticket_count with library={"title":{"text":"Company vs Ticket Count"},"yAxis":{"title":{"text":"Ticket Count"}}} %}
    </div>
    <div class="md-pad col-md-6">
        {% column_chart tier_vs_ticket_count with library={"title":{"text":"Tier vs Ticket Count"},"yAxis":{"title":{"text":"Ticket Count"}}} %}
    </div>
    <div class="md-pad col-md-6">
        {% line_chart count_vs_day  with library={"title":{"text":"Ticket Creation Over Time"},"yAxis":{"title":{"text":"Ticket Count"}},"xAxis":{"title":{"text":"Date"}}} %}
    </div>
</div>

{% endblock %}

{% block js %}{% endblock %}
