{% extends "base.html" %}

{% block head %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="static/chartkick.js"></script>
    <script src="{{ STATIC_URL }}chartkick.js"></script>
{% endblock %}


{% block content %}

<h1>Overall Stats</h1>

{% load chartkick %}

<div class="row">
    <div class="col-md-6">
        {% bar_chart company_vs_ticket_count %}
    </div>
    <div class="col-md-6">
        {% column_chart tier_vs_ticket_count %}
    </div>
    <div class="col-md-6">
        {% column_chart count_vs_day %}
    </div>
</div>

{% endblock %}
