{% extends 'base.html' %}

{% block title %}
    Search
{% endblock title %}

{% block content %}

    {% load crispy_forms_tags %}

    <h1><i class="icon-search icon-fixed-width"></i>Search</h1>

    <form method="get" action=".">
        <table>
            {{ form|crispy }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Search">
                </td>
            </tr>
        </table>
    </form>

    {% if query %}

        <h3>Results</h3>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th class="hidden-xs">Company</th>
                        <th>Tier</th>
                        <th class="hidden-xs hidden-sm text-right">Assignees</th>
                    </tr>
                    {% for result in page.object_list %}
                        <tr {% if ticket.is_blocker %} class="danger" {% endif %}>
                            <td><a href="{% url "ticket" result.object.pk %}">{{result.object.pk}}</a></td>
                            <td><a href="{% url "ticket" result.object.pk %}">{{result.object.title}}</a></td>
                            <td class="hidden-xs"><a href="{% url "company" result.object.company.pk %}">{{result.object.company}}</a></td>
                            <td>{{result.object.tier}}</td>
                            <td class="hidden-xs hidden-sm text-right">
                                {% for profile in result.object.assignees.all %}
                                    {% if not forloop.first %},{% endif %}
                                    <a href="{{ profile.get_absolute_url }}">{{profile}}</a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
