<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">

  <script>

    // WP8 IE10 viewport workaround
    (function() {
      if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement("style");
        msViewportStyle.appendChild(
          document.createTextNode("@-ms-viewport{width:auto!important}")
        );
        document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
      }
    })();

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47016837-1', 'joshgraham.com');
    ga('send', 'pageview');

  </script>

  {% load staticfiles %}
  <link rel="shortcut icon" sizes="196x196" href="{% static "tickets/ticket-196.png" %}">
  <title>{% block title %}Handprints{% endblock title %}</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href="{% static "tickets/handprints.css" %}" rel="stylesheet">
  <link rel="icon" type="image/png" href="{% static "tickets/favicon.ico" %}">
  {% block head %} {% endblock %}

</head>

<body>

  <nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=
        {% if user.is_staff %}
           "{% url "tickets" %}"
        {% elif user.pk %}
           "{% url "company" user.profile.company.pk %}"
        {% else %}
           "{% url "index" %}"
        {% endif %}>
        <i class="icon-fixed-width icon-ticket icon-large"></i>
        Handprints Beta
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_staff %}
          <li><a href="/search/"><i class="icon-fixed-width icon-search"></i>Search</a>
          <li><a href="{% url "overall_stats" %}"><i class="icon-fixed-width icon-bar-chart"></i>Stats</a></li>
          <li><a href="{% url "profile" user.profile.pk %}"><i class="icon-fixed-width icon-user"></i>{{ user.get_full_name }}</a>
        {% endif %}
        {% if user.pk %}
          <li><a href="{% url "new_ticket" %}"><i class="icon-fixed-width icon-plus"></i>New Ticket</a>
          <li><a href="{% url "django.contrib.auth.views.logout" %}"><i class="icon-fixed-width icon-signout"></i>Logout</a>
        {% else %}
          <li><a href="{% url "django.contrib.auth.views.login" %}"><i class="icon-fixed-width icon-signin"></i>Login</a>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div style="padding:0px 30px">

  {% block content %} {% endblock %}

  </div>

  {% block js %}
    <script src="//codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>
