<!DOCTYPE html>
<html lang="en">

<head>

  {% load staticfiles %}

  <title>Handprints</title>
  <script src="//codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href="{% static "tickets/handprints.css" %}" rel="stylesheet">
  {% block head %} {% endblock %}

</head>

<body>

  <nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url "index" %}"><i class="icon-fixed-width icon-ticket icon-large"></i>Handprints Beta</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_staff %}
        <li><a href="/search/"><i class="icon-fixed-width icon-search"></i>Search</a>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-fixed-width icon-tag"></i>
              Pages
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url "tier" 1 %}">Tier 1</a></li>
            <li><a href="{% url "tier" 2 %}">Tier 2</a></li>
            <li><a href="{% url "tier" 3 %}">Tier 3</a></li>
            <li><a href="{% url "tier" 4 %}">Tier 4</a></li>
            <li><a href="{% url "department" 1 %}">Tech Support</a></li>
            <li><a href="{% url "department" 2 %}">Implementation</a></li>
            <li><a href="{% url "department" 3 %}">Development</a></li>
            <li><a href="{% url "status" 1 %}">Open</a></li>
            <li><a href="{% url "status" 2 %}">Closed</a></li>
            <li><a href="{% url "overall_stats" %}">Stats</a></li>
          </ul>
        </li>
        {% endif %}
        {% if user.pk and not user.is_staff %}
        <li><a href="{% url "company" user.profile.pk %}"><i class="icon-fixed-width icon-building"></i>Company</a></li>
        {% endif %}
        {% if user.pk %}
        <li><a href="{% url "new_ticket" %}"><i class="icon-fixed-width icon-plus"></i>New Ticket</a>
        <li><a href="{% url "profile" user.pk %}"><i class="icon-fixed-width icon-user"></i>{{ user.get_full_name }}</a>
        <li><a href="{% url "django.contrib.auth.views.logout" %}"><i class="icon-fixed-width icon-signout"></i>Logout</a>
        {% else %}
        <li><a href="{% url "django.contrib.auth.views.login" %}"><i class="icon-fixed-width icon-signin"></i>Login</a>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div style="padding:0px 30px">

  {% block content %} {% endblock %}

  </div>

</body>
</html>
