{% extends "base.html" %}

{% block content %}

<h2>Pages</h2>

<div class="row">
    <div class="col-sm-4">
        <h3>Tiers</h3>
        <ul class="list-unstyled">
            {% for tier in tiers %}
                <li>
                    <a href="{{ tier.get_absolute_url }}">{{tier}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-4">
        <h3>Departments</h3>
        <ul class="list-unstyled">
            {% for department in departments %}
                <li>
                    <a href="{{ department.get_absolute_url }}">{{department}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-4">
        <h3>Statuses</h3>
        <ul class="list-unstyled">
            {% for status in statuses %}
                <li>
                    <a href="{{ status.get_absolute_url }}">{{ status }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h3>Companies</h3>
        <ul class="list-unstyled">
            {% for company in companies %}
                <li>
                    <a href="{{ company.get_absolute_url }}">{{ company }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-4">
        <h3>Stats</h3>
        <ul class="list-unstyled">
            <li>
                <a href="{% url "overall_stats" %}">Overall</a>
            </li>
        </ul>
    </div>
</div>

{% endblock content %}
